<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bqteam.appforlearn">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <!-- 允许程序打开网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 允许程序获取网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- 允许程序访问WiFi网络信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- 允许程序访问CellID或WiFi热点来获取粗略的位置 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ecba0e6649f9b7ce93ef94d636b74f79">
        </meta-data>

        <activity android:name=".function.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".function.refresh_loadmore.RefreshLoadmoreActivity">
        </activity>
        <activity android:name=".function.mode.DesignModeActivity">
        </activity>
        <activity android:name=".function.mode.observer.ModeObserverActivity">
        </activity>
        <activity android:name=".function.canvas.CanvasActivity">
        </activity>
        <activity android:name=".function.service.ServiceActivity">
        </activity>

        <service android:name=".function.service.TestService"/>

        <activity android:name=".function.boardcast.BroadcastActivity">
        </activity>

        <service android:name=".function.boardcast.BroadcastService"/>

        <activity
            android:name=".function.panorama.PanoramaActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".function.maxst.PermissionCheckActivity">
        </activity>
        <activity
            android:name=".function.maxst.MaxstActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
        </activity>
        <activity android:name=".function.map.GaodeMapActivity">
        </activity>
        <activity android:name=".function.image01.Image01Activity">
        </activity>
        <activity android:name=".function.sort.SortActivity">
        </activity>
        <activity android:name=".function.loading.LoadingActivity">
        </activity>
        <activity android:name=".function.databinding.DataBindingActivity">
        </activity>
    </application>

</manifest>